<h1 class="page-header">基本任务详细信息
  <%= link_to 'Edit', edit_job_path(@job), class: 'btn btn-default' %>
  <%= link_to 'Back', jobs_path, class: 'btn btn-default' %>
</h1>

<div class="col-md-2">  
</div>
<div class="col-md-10">
  <div class="col-md-2">
    <strong>Name:</strong>
  </div>
  <div class="col-md-10">
    <%= @job.name %>
  </div>

  <div class="col-md-2">
    <strong>Desc:</strong>
  </div>
  <div class="col-md-10">
    <%= @job.desc %>
  </div>
  
  <div class="col-md-2">
    <strong>Path:</strong>
  </div>
  <div class="col-md-10">
    <%= @job.path %>
  </div>

  <div class="col-md-2">
    <strong>HBase:</strong>
  </div>
  <div class="col-md-10">
    <%= @job.hbase %>
  </div>

  <div class="col-md-2">
    <strong>Params:</strong>
  </div>
  <div class="col-md-10">
    <% @job.params.each do |param| %>
      <div class="col-md-4">
        <%= param.name %>
      </div>
      <div class="col-md-8">
        <%= param.desc %>
      </div>
    <% end %>
  </div>
</div>


<%= form_tag(@job, html: { role: "form" }) do |f| %>
  <div class="form-group">
    <label for="pig_script">Pig Script</label>
    <button class="btn btn-success pull-right" type="submit">
      <i class="icon-refresh icon-spin"></i>
      Update
    </button>

    <textarea class="form-control" rows="20" name="contents"><%= @contents %></textarea>
  </div>
<% end %>