<%= form_for(@pig_task) do |f| %>
  <% if @pig_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pig_task.errors.count, "error") %> prohibited this pig_task from being saved:</h2>

      <ul>
      <% @pig_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :command %><br>
    <%= f.text_area :command %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
