<h1 class='page-header'>
  数据任务列表
  <%= link_to 'New task', new_pig_task_path, class: 'btn btn-success' %>

  <%= link_to 'View online Haoop Job', 'http://58.83.175.241:8088/cluster', target: '_blank', class: 'btn btn-danger pull-right' %>
</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pig_tasks.each do |pig_task| %>
      <tr>
        <td><%= pig_task.name %></td>
        <td><%= pig_task.status %></td>
        <td>
          <%= link_to 'Show', pig_task, class: 'btn btn-success' %>
          <%= link_to 'Edit', edit_pig_task_path(pig_task), class: 'btn btn-success' %>
          <%= link_to 'Destroy', pig_task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
