<h1>
  数据任务详情
  <small>
    <%= link_to 'Edit', edit_pig_task_path(@pig_task), class: 'btn btn-default' %>
    <%= link_to 'Back', pig_tasks_path, class: 'btn btn-default' %>
  </small>  
</h1>

<div>Command</div>
<textarea class="form-control" rows="15"><%= @pig_task.command %></textarea>

<table class="table">
  <thead>
    <tr>
      <th>Job Name</th>
    </tr>
  </thead>
  <tbody>
    <% @pig_task.jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Run', run_pig_task_path(@pig_task), class: 'btn btn-danger btn-lg col-sm-offset-5' %>