<h1>
  数据任务详情
  <small>
    <%= link_to 'Edit', edit_pig_task_path(@pig_task), class: 'btn btn-default' %>
    <%= link_to 'Back', pig_tasks_path, class: 'btn btn-default' %>
  </small>  
</h1>

<%= form_for(@pig_task, url: update_command_pig_task_path(@pig_task), method: 'post', html: { role: "form" }) do |f| %>
  <div class="form-group">
    <label for="command">Command</label>
    <button class="btn btn-success pull-right" type="submit">
      <i class="icon-refresh icon-spin"></i>
      Update
    </button>
    <%= f.text_area :command, class: "form-control",  rows: "15" %>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Job Name</th>
    </tr>
  </thead>
  <tbody>
    <% @pig_task.jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Run', run_pig_task_path(@pig_task), class: 'btn btn-danger btn-lg col-sm-offset-5' %>
